<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navContainer">
    <ul class="listContainer">
      <li class="listitems"> <a href=""> Wie Enicartage</a></li>
      <li  class="listitems"> <a href="">IEEE Enicartage</a></li>
      <li  class="listitems"> <a href="">IEEE</a> </li>
      <li  class="listitems"> <a href="">More Sites</a> </li>
    </ul>
    <div>
      <button>Log In</button>
    <button>Sign Up</button>
    </div>
    
  </nav>

</body>
</html>
 